form{
	background-image: url("parcel.jpg");
	margin: auto;
	width: 50%;
	padding: 10px;
	font-family: arial, verdana, sans-serif;
}

input[type="text"], input[type="number"]{
	width:100%;
	height: 30px;
}

input[type="submit"], input[type="reset"]{
	width: 100px;
	height: 40px;
	background-color: #DCDCDC;	
}
